/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.title {
    text-align: center;
    color: #cb5f9e5e
}

.todo-list {
    box-shadow: 10px 10px 50px 1px rgb(114, 114, 114);
}

svg{
    visibility: hidden;
}

li:hover svg{
    visibility: visible;
}
